<%inherit file="/base.html"/>
<%namespace file="/base_include.html" import="*"/>

<h3>Hi ${request.user.first_name}!</h3>

<div class="row">
    <div class="span3">
        <ul class="nav nav-list">
            <li class="nav-header">My Account</li>
            % if request.user.get_profile().active:
            <li${' class="active"' if page == 'landing' else ''}>
                <a href="${url('account_landing')}">Status</a>
            </li>
            <li${' class="active"' if page == 'my_weather_alerts' else ''}>
                <a href="${url('user_weather_alerts')}">My Weather Alerts</a>
            </li>
            <li${' class="active"' if page == 'settings' else ''}>
                <a href="${url('account_settings')}">Settings</a>
            </li>
            % endif
            <li${' class="active"' if page == 'activate_deactivate' else ''}>
                <a href="${url('activate_deactivate')}">${'Activate' if not request.user.get_profile().active else 'Deactivate'}</a>
            </li>
        </ul>
    </div>
    <div class="span9">
        ${next.body()}
    </div>
</div>