{% extends 'base.html' %}

{% block content %}

<h3>Hi {{ user.first_name }}!</h3>

<div class="row">
    <div class="span3">
        <ul class="nav nav-list">
            <li class="nav-header">My Account</li>
            {% if extended_user.active %}
            <li class="{% if page == 'landing' %}active{% endif %}">
                <a href="{% url account_landing %}">Status</a>
            </li>
            <li class="{% if page == 'my_weather_alerts' %}active{% endif %}">
                <a href="{% url user_weather_alerts %}">My Weather Alerts</a>
            </li>
            <li class="{% if page == 'settings' %}active{% endif %}">
                <a href="{% url account_settings %}">Settings</a>
            </li>
            {% endif %}
            <li class="{% if page == 'activate_deactivate' %}active{% endif %}">
                <a href="{% url activate_deactivate %}">{% if extended_user.active %}Deactivate{% else %}Deactivate{% endif %}</a>
            </li>
        </ul>
    </div>
    <div class="span9">
        {% block account_content %}{% endblock %}
    </div>
</div>

{% endblock %}