<p>You're account is {% if extended_user.active %}{% else %}in{% endif %}active.</p>

<form class="form-horizontal" action="{% url user_activate %}" method="post">
    <input type="hidden" name="id" value="{{ user_profile_id }}">
    <input type="hidden" name="active" value="{% if extended_user.active %}0{% else %}1{% endif %}">
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary">{% if extended_user.active %}Deactivate{% else %}Activate{% endif %}</button>
        </div>
    </div>
</form>
