{% extends 'account/base.html' %}
{% load thumbnails %}

{% block account_content %}

{% if extended_user.active %}

<h3>Active Weather Alerts</h3>
{% if active_count %}
    {% for group in active_groups %}
<div class="row-fluid">
    <ul class="thumbnails">
        {% for user_weather_alert in group %}
            {% if user_weather_alert %}
        <li class="span4">
            <div class="thumbnail">
                <img src="{% user_weather_alert_thumbnail user_weather_alert width=300 height=200 zoom=10 %}">
                <div class="caption">
                    <h4>{{ user_weather_alert.weather_alert.event }}</h4>
                    <p><span class="muted">Status: </span>{% if user_weather_alert.weather_alert.active %}Active{% else %}Expired{% endif %}</p>
                    <a class="btn btn-primary" href="{% url user_weather_alert user_weather_alert.id %}">Details</a>
                </div>
            </div>
        </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
    {% endfor %}
{% else %}
<h4>No active weather alerts</h4>
{% endif %}

<hr>

<h3>Expired Weather Alerts</h3>
{% if expired_count %}
{% for group in expired_groups %}
<div class="row-fluid">
    <ul class="thumbnails">
        {% for user_weather_alert in group %}
            {% if user_weather_alert %}
        <li class="span4">
            <div class="thumbnail">
                <img src="{% user_weather_alert_thumbnail user_weather_alert width=300 height=200 zoom=10 %}">
                <div class="caption">
                    <h4>{{ user_weather_alert.weather_alert.event }}</h4>
                    <p><span class="muted">Status: </span>{% if user_weather_alert.weather_alert.active %}Active{% else %}Expired{% endif %}</p>
                    <a class="btn btn-primary" href="{% url user_weather_alert user_weather_alert.id %}">Details</a>
                </div>
            </div>
        </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endfor %}
{% else %}
<h4>No expired weather alerts</h4>

{% endif %}

{% else %}

{% include "account/inactive_user_form.html" %}

{% endif %}

{% endblock %}