{% extends 'account/base.html' %}

{% block account_content %}

{% if extended_user.active %}

<h3>Active Weather Alerts</h3>
{% if active_count %}
    {% for group in active_groups %}
<div class="row-fluid">
    <ul class="thumbnails">
        {% for user_weather_alert in group %}
            {% if user_weather_alert %}
                {% include "account/weather_alert_thumbnail.html" %}
            {% endif %}
        {% endfor %}
    </ul>
</div>
    {% endfor %}
{% else %}
<h4>No active weather alerts</h4>
{% endif %}

<hr>

<h3>Expired Weather Alerts</h3>
{% if expired_count %}
{% for group in expired_groups %}
<div class="row-fluid">
    <ul class="thumbnails">
        {% for user_weather_alert in group %}
            {% if user_weather_alert %}
                {% include "account/weather_alert_thumbnail.html" %}
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endfor %}
<p class="count"><strong>{{ start_index }} - {{ end_index }}</strong> of {{ expired_count_total }}</p>
<p class="nav">
{% if previous_page_number %}<a class="previous" href="{% url user_weather_alerts %}?page={{ previous_page_number }}">&larr; Previous</a>{% endif %}
{% if next_page_number %}<a class="next" href="{% url user_weather_alerts %}?page={{ next_page_number }}">Next &rarr;</a>{% endif %}
</p>
{% else %}
<h4>No expired weather alerts</h4>

{% endif %}

{% else %}

{% include "account/inactive_user_form.html" %}

{% endif %}

{% endblock %}