<%inherit file="/account/base.html"/>

<form id="user-profile-form" class="form-horizontal" action="/user_profile/" method="post" >
    <input type="hidden" name="id" value="${user_profile_id}">
    % for field in user_profile_form:
    <div class="control-group">
        <label class="control-label" for="inputPassword">${field.label}</label>
        <div class="controls">
            ${field}
        </div>
    </div>
    % endfor
    <div id="profile-update-success" class="alert alert-success hide"><strong>Success!!</strong> Your settings have been updated.</div>
    <div id="profile-update-error" class="alert alert-error hide"><strong>Error :(</strong> <span class="message">There was a problem updating your profile.</span></div>
    <div class="control-group">
        <div class="controls">
            <button id="user-profile-update" type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>

<%block name="javascript">
<script src="${STATIC_URL}js/account_settings.js"></script>
</%block>
