{% extends 'account/base.html' %}

{% block account_content %}

{% if extended_user.active %}

    {% if user_location_status %}

<div class="alert alert-{{ user_location_status_success_error }}">
    {{ user_location_status_message }}
    Last location check: {{ last_location_check }}
</div>

    {% else %}

<p>Your status is unknown. This could be because you recently signed up and haven&apos;t checked your location yet. Check back in a few minutes.</p>

    {% endif %}

    {% if user_last_location %}
<div id="map" style="height: 300px;"></div>
    {% endif %}

{% else %}

<%include file="inactive_user_form.html"/>

{% endif %}

{% endblock %}

{% block javascript %}

{% if user_last_location %}

<script>
wx.user = {};
wx.user.last_location = {{ user_last_location|safe }};
wx.user.last_locations = {{ user_last_locations|safe }};
</script>
<script src="{{ STATIC_URL }}js/account_landing.js"></script>

{% endif %}

{% endblock %}