<p style="margin-top: 30px;">In order for us to track your location you'll need to enable location history in Google Latitude. Visit the following URL and ensure that you have the enable option selected. After enabling location history your status on this page should be updated in a matter of minutes.</p>

<p style="text-align: center; margin-top: 30px;"><a href="https://maps.google.com/locationhistory/b/0/settings">https://maps.google.com/locationhistory/b/0/settings</a></p>

<div class="thumbnail" style="background-color: #e0e0e0; margin-top: 30px;"><img src="{{ STATIC_URL }}img/enable-history.png" /></div>