.navbar a {
    font-size: 16px;
}

.active-state-flag {
    font-family: "HelveticaNeueW01-75Bold", "Helvetica", Arial, sans-serif;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 70px;
    background: #990000;
    color: white;
    padding: 8px 13px 10px 24px;
    font-size: 11px;
    line-height: 11px;
    font-weight: bold;
}
.active-state-flag:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: -16px;
    height: 0;
    width: 0;
    border-top: 10px solid top;
    border-bottom: 16px solid transparent;
    border-left: 16px solid #990000;
}
.active-state-flag:before {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    right: -16px;
    height: 0;
    width: 0;
    border-bottom: 10px solid top;
    border-top: 16px solid transparent;
    border-left: 16px solid #990000;
}

.active-state-flag.active {
    background: #006633;
}

.active.active-state-flag:after {
    border-left: 16px solid #006633;
}

.active.active-state-flag:before {
    border-left: 16px solid #006633;
}
