.navbar a {
    font-size: 16px;
}

.navbar .navbutton {
    color: #ffffff;
}

.navbar .navbutton {
    color: #ffffff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    background-repeat: repeat-x;
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.navbutton:hover {
    color: #e0e0e0 !important;
    background-color: #0044cc !important;
    *background-color: #003bb3 !important;
}

.active-state-flag {
    font-family: "HelveticaNeueW01-75Bold", "Helvetica", Arial, sans-serif;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 70px;
    background: #990000;
    color: white;
    padding: 8px 13px 10px 24px;
    font-size: 11px;
    line-height: 11px;
    font-weight: bold;
}
.active-state-flag:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: -16px;
    height: 0;
    width: 0;
    border-top: 10px solid top;
    border-bottom: 16px solid transparent;
    border-left: 16px solid #990000;
}
.active-state-flag:before {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    right: -16px;
    height: 0;
    width: 0;
    border-bottom: 10px solid top;
    border-top: 16px solid transparent;
    border-left: 16px solid #990000;
}

.active-state-flag.active {
    background: #006633;
}

.active.active-state-flag:after {
    border-left: 16px solid #006633;
}

.active.active-state-flag:before {
    border-left: 16px solid #006633;
}

.thumbnail p.info {
    margin-bottom: 2px;
}

.thumbnails a.details {
    margin-top: 8px;
}

p.nav, p.count {
    text-align: center;
}

p.nav .previous {
    margin-right: 15px;
}

p.nav .next {
    margin-left: 15px;
}
