<%inherit file="base.html"/>

<h3>Hi ${request.user.first_name}!</h3>

<div class="tabbable">

    <ul class="nav nav-tabs">
        <li class="active"><a href="#status" data-toggle="tab">Status</a></li>
        <li><a href="#my-weather-alerts" data-toggle="tab">My Weather Alerts</a></li>
        <li><a href="#settings" data-toggle="tab">Settings</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="status">
            <p>Accounty status &amp; such.</p>
        </div>
        <div class="tab-pane" id="my-weather-alerts">
            <h4>${len(user_weather_alerts)} found for you</h4>
            <div class="row-fluid">
                <ul class="thumbnails">
                    % for user_weather_alert in user_weather_alerts:
                    <li class="span4">
                        <div class="thumbnail">
                            <img src="${user_weather_alert.static_map_url(width=300, height=200, zoom=10)}" style="width: 300px; height: 200px;">
                            <div class="caption">
                                <h4>${user_weather_alert.weather_alert.event}</h4>
                            </div>
                        </div>
                    </li>
                    % endfor
                </ul>
            </div>
        </div>
        <div class="tab-pane" id="settings">
            <p>Forms and such</p>
        </div>
    </div>

</div>

<%block name="javascript">
<script>
</script>
<script src="${STATIC_URL}js/account_landing.js"></script>
</%block>
