<% from django.core.urlresolvers import reverse %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>WxWarnMe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="${reverse('home')}">WxWarnMe</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="${'active' if False else ''}"><a href="${reverse('about')}">About</a></li>
                    </ul>
                    % if not request.user.is_anonymous():
                    <p class="navbar-text pull-right">&nbsp;-&nbsp;<a style="color: #fff;" href="${reverse('logout')}">logout</a></p>
                    <p class="navbar-text pull-right">Hi <a style="color: #fff;" href="${reverse('account_landing')}">${'%s %s' % (request.user.first_name, request.user.last_name)}</a> !</p>
                    % endif
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        ${next.body()}
        <footer>
            <p>&copy; WxWarnMe 2012</p>
        </footer>
    </div>
</body>

</html>