<% from django.core.urlresolvers import reverse %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>WxWarnMe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-site-verification" content="4SMTAyYwjLtZZqOIhVBevzbFqnbHIczrGXvR7kKn0qI" />
    <link href="${STATIC_URL}css/bootstrap.css" rel="stylesheet">
    <link href="${STATIC_URL}css/common.css" rel="stylesheet">
    <link rel="shortcut icon" href="${STATIC_URL}favicon.ico">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="${STATIC_URL}css/bootstrap-responsive.css" rel="stylesheet">
    % if leaflet:
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.css">
    % endif
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="${reverse('home')}">WxWarnMe</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="${'active' if current_page == 'how_it_works' else ''}"><a href="${reverse('how_it_works')}">How it Works</a></li>
                        <li class="${'active' if current_page == 'weather_alerts' else ''}"><a href="${reverse('weather_alerts')}">Weather Alerts</a></li>
                        % if request.user.is_anonymous():
                        <li><a href="${reverse('signup')}">Sign Up</a></li>
                        % else:
                        <li class="${'active' if False else ''}"><a href="${reverse('account_landing')}">Account</a></li>
                        % endif
                    </ul>
                    <p class="navbar-text pull-right">
                    % if request.user.is_anonymous():
                    <a style="color: #fff;" href="${reverse('login')}">login</a>
                    % else:
                    Hi <a style="color: #fff;" href="${reverse('account_landing')}">${'%s %s' % (request.user.first_name, request.user.last_name)}</a> !&nbsp;-&nbsp;<a style="color: #fff;" href="${reverse('logout')}">logout</a>
                    % endif
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <%block name="breadcrumbs"></%block>
        ${next.body()}
        <footer>
            <p>&copy; WxWarnMe 2012</p>
        </footer>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="${STATIC_URL}js/bootstrap.min.js"></script>
    % if leaflet:
    <script src="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.js"></script>
    % endif
    <script>
        window.wx = {};
    </script>
    <%block name="javascript"></%block>
</body>

</html>