<%inherit file="base.html"/>
<%namespace file="/base_include.html" import="*"/>



<%block name="css">
<%
import random
%>
<style type="text/css">
.hero-unit {
    background-image: url(${STATIC_URL}img/hero-${random.choice(['flood', 'lightning'])}.jpg);
}

.hero-content {
    width: 400px;
    background-color: rgba(17, 17, 17, 0.65);
    border-radius: 8px;
    padding: 15px 30px;
}

.hero-content h1 {
    color: #e0e0e0;
}

.hero-unit p {
    color: #e0e0e0;
    line-height: 1.3em;
    margin: 8px 0 12px;
}

@media (max-width: 480px) {
    .hero-unit {
        padding: 15px;
    }
    .hero-content {
        width: 220px;
        padding: 10px 12px;
    }
    .hero-content h1 {
        font-size: 40px;
    }
    .hero-content p {
        line-height: 1.1em;
        font-size: 16px;
    }
    .btn-large {
        padding: 5px 8px;
        font-size: 14px;
    }
}
</style>
</%block>

<div class="hero-unit">
    <div class="hero-content">
        <h1>WxWarnMe</h1>
        <p>Get notifications for severe weather near you based on your location from Google Latitude.</p>
        <p><a class="btn btn-large" href="${url('how_it_works')}">Learn more</a> <a class="btn btn-primary btn-large" href="${url('signup')}">Sign Up &raquo;</a></p>
        <p>Already a member? <a href="${url('login')}">Login now</a></p>
    </div>
</div>

<div class="row">
    <div class="span4">
        <h2>Stay Informed</h2>
        <p>Be the first to know when there's severe weather in your area. We constantly monitor the National Weather Service alert feed to keep you in the know.</p>
    </div>
    <div class="span4">
        <h2>No App Necessary</h2>
        <p>If you already use Google Latitude on your mobile phone, there's no need for any additional apps. We'll automatically compare your current location with any active weather alerts to keep you informed.</p>
    </div>
    <div class="span4">
        <h2>Custom Notifications</h2>
        <p>Tell us what kind of weather warnings to notify you for and we'll filter the ones you don't want. Prefer email? SMS? You can use either or both to get notified as soon as possible.</p>
    </div>
</div>

<hr class="hidden-phone">
