{% extends 'base.html' %}

{% block content %}

<h3>Not Quite</h3>

<p>Premium memberships aren&apos;t a thing yet. So, if you sign up now you&apos;ll get whatever features are here.</p>

<h3>Ideas</h3>

<p>A few ideas for premium memberships:</p>

<ul>
    <li>Check your location and weather alerts more often. Every 5 minutes instead of 15.</li>
    <li>Since sending SMS messages can get expensive at scale ($0.01 per), maybe require premium for this.</li>
    <li>
        Something like "My Alert Places" that let you monitor multiple locations (not just your current location) for use cases like:
        <ul>
            <li>"I live in Denver, but I want to stay informed about winter weather in the mountains during ski season."</li>
            <li>"I'm a storm chaser and am interested in sever weather in various places."</li>
            <li>"I'm travelling soon and want to keep an eye on the weather at x location."</li>
            <li>"I have loved ones in other areas that I'd like to keep up with weather alerts for."</li>
        </ul>
    </li>
</ul>

{% endblock %}