{% extends 'base.html' %}

{% block content %}

<p>Want to stay informed about severe weather wherever you are? We can help with that.</p>

<h3>Requirements</h3>

<p>To use WxWarnMe you&apos;ll need to:</p>

<ol>
    <li>have a Google account</li>
    <li>opt-in to Google Latitude</li>
    <li>install/enable the Google Latitude app on your device - <a href="https://itunes.apple.com/us/app/google-latitude/id306586497?mt=8">iOS</a> has a dedicated app and Android has Latitude integrated with its Google Maps app.</li>
    <li>allow WxWarnMe to monitor your location (don&apos;t worry, we won&apos;t share with anyone)</li>
</ol>

Google Latitude is a location sharing service that let&apos;s you choose who (if anyone) to share your location with. <a href="{% url how_it_works %}">Learn more</a> about how WxWarnMe works.</p>

<p style="text-align: center; margin: 40px 0;"><a class="btn btn-primary btn-large" href="{% url login %}">Sign Up with Google &raquo;</a></p>

{% endblock %}