<%inherit file="base.html"/>

<% from django.core.urlresolvers import reverse %>

<h2>Current Weather Alerts</h2>

<h3>Jump to your state</h3>

<%
from wxwarn.utils import grouper
groups = grouper(10, states)
%>

<div class="row-fluid">
    % for group in groups:
    <div class="span2">
        <ul>
            % for state in group:
                % if state:
            <li><a href="${reverse('weather_alerts_state', args=(state.code.lower(),))}">${state.name}</a></li>
                % endif
            % endfor
        </ul>
    </div>
    % endfor
</div>

<div class="row-fluid">
    <ul>
        <li><a href="${reverse('weather_alerts_all')}">View all weather alerts</a></li>
    </ul>
</div>