{% extends 'base.html' %}

{% block content %}

<div class="row" style="margin-bottom: 20px;">
    <div class="span4" style="height: 300px;{% if weather_alert.category %} background-image: url({{ STATIC_URL }}svg/{{ weather_alert.category }}.svg); background-repeat: no-repeat; background-position: right; background-size: 200px;{% endif %}">
        <h3>{{ weather_alert.event }}</h3>
        <h4>{{ weather_alert.title }}</h4>
        <p><span class="muted">Effective:</span> {{ effective }}</p>
        <p><span class="muted">Expires:</span> {{ expires }}</p>
    </div>
    <div class="span8" style="height: 100%;">
        <div id="map-container" style="position: relative; height: 100%;">
            <div id="map" style="height: 300px;"></div>
            <div class="active-state-flag{% if weather_alert.active %} active{% endif %}">{% if weather_alert.active %}Active{% else %}Expired{% endif %}</div>
        </div>
    </div>
</div>

<div class="row">
    <h4>NWS Details</h4>
    <p>{{ weather_alert.summary }}</p>
</div>

{% endblock %}

{% block javascript %}

<script>
wx.weather_alert = {{ weather_alert_geojson|safe }};
</script>
<script src="{{ STATIC_URL }}js/weather_alert.js"></script>
{% endblock %}
